body{
    background-image: url("image/photogroupe.jpg");
    background-size: 100%;
}
.equipe{
    text-align: center;
  
  }
  a{color:red;
    font-size:x-large;
    
}
img.photogroupe{
  visibility: hidden;
}